/* General */
strong {
    color: blue;
}

strong:hover {
    cursor: pointer;
}

hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.page {
    display: grid;
    grid-template-columns: auto 25.5vw;
    grid-template-rows: 8vh 100%;
    height: 100vh;
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-y: hidden;
    background-color: #f3f3f3;
}

/* div .page > div .topBar */
.topBar {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 1em;
    margin: 0px;
    overflow: hidden;
    background-color: white;
    box-shadow: 4px 2px 11px 0px rgba(0,0,0,0.3);
}

.topBar img {
    width: 40px;
    height: 40px;
    margin: 5px 1em 5px 0px;
    border-radius: 50%;
    align-self: center;
}

.topBar img:hover {
    cursor: pointer;
}

/* div.page > div.timer */
.timer {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    overflow: hidden;
}

.timer p{
    text-align: center;
    margin-bottom: 0.5em;
    margin-top: 1em;
    font-size: 10em;
    font-weight: 900;
}

/* div.page > div.timer > div.timerBtn*/
.timerBtn {
    text-align: center;

}
.timerBtn .start-btn {
    width: 9rem;
    height: 3em;
    background-color: lightgreen;
    font-weight: bold;
    margin-bottom: 5px;
    padding: 0px;
    border-radius: 10px;
    font-size: 1em;
}

.timerBtn .stop-btn{
    width: 9rem;
    height: 3em;
    font-weight: bold;
    margin-left: 2.5rem;
    background-color: red;
    margin-bottom: 5px;
    padding: 0px;
    border-radius: 10px;
    font-size: 1em;
}


.setTimerBtn button{
    width: 9em;
    height: 10em;
    font-size: 1.2em;
    font-weight: bold;
    margin: 5px 5px;
    padding: 0px;
    border-radius: 10px;
}

/* div.page > div.aside */
.aside {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    text-align: center;
    overflow-x: hidden;
    margin-left: auto;
    flex-direction: column;
    background-color: white;
    box-shadow: 4px 11px 11px 4px rgba(0,0,0,0.3);
    width: auto
}

@media only screen and (min-width: 895px) and (max-width: 1000px) {
    .page {
        grid-template-columns: auto 13em;
    }
    .aside {
        width: 13em;
    }
}

/* PopUpPage */
.modal, .modal input {
    text-align: center;
    font-size: 2em;
    font-weight: bold;
}

.modal input, .modal input:focus {
    width: 1.6em;
    border: none;
    background-color: transparent;
    outline: none;
    padding: 0px;
}

.modal-btn button {
    font-size: 1em;
    text-align: center;
    align-self: center;
}

@media only screen and (max-width: 895px) {
    .page {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 8vh 60vh 35px auto;
        -webkit-overflow-scrolling: touch;
        overflow: hidden;
    }

    .topBar {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
    }

    .timer{
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
    }

    .timer p{
        text-align: center;
        margin-bottom: 1em;
        margin-top: 1.2em;
        font-size: 5em;
        font-weight: 900;
    }

    .timerBtn {
        margin-bottom: 1em;
    }

    .aside{
        grid-row-start: 3;
        grid-row-end: 5;
        grid-column-start: 1;
        grid-column-end: 2;
        text-align: center;
        margin: 0px;
        overflow-y: auto;
    }

    .aside h3, .aside strong {
        margin: 10px 1em 0px;
    }

    .aside .title {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    .aside .setTimerBtn{
        text-align: center;
        background-color: #f7f7f7;
        overflow-x: auto;
        overflow-y: hidden;
        width: 100vw;
        display: flex;
        flex-direction: row;
    }

    .setTimerBtn button {
        font-size: 1.2em;
        font-weight: bold;
        margin: 0 5px;
        width: 10em;
        height: 5em;
    }
    
    /* Ipad screen display */
    @media only screen and (min-height: 1024px) {
        .setTimerBtn button {
            font-size: 1.2em;
            font-weight: bold;
            margin: 5px;
            width: 10em;
            height: 8em;
        }
        .timer p{
            text-align: center;
            margin-bottom: 1em;
            margin-top: 1.2em;
            font-size: 10em;
            font-weight: 900;
        }
    }
    /* Iphone 5 screen display*/
    @media only screen and (max-width: 365px) {
        .setTimerBtn button {
            font-size: 1.2em;
            font-weight: bold;
            margin: 5px;
            width: 10em;
            height: 5em;
        }
        .timer p{
            text-align: center;
            margin-bottom: 1em;
            margin-top: 1.2em;
            font-size: 4em;
            font-weight: 900;
        }
        .timerBtn button{
            width: 7em;
            height: 2em;
            font-weight: bold;
        }
    }
}
