.timer {
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
    font-size: 5rem;
    font-weight: bold;
}

button {
    margin-left: 5px;
    margin-bottom: 5px;
    align-items: center;
    padding: 1rem;
}
