@page "/"
@inherits FrontEnd.Components.Timer

<div class="page">
    <div class="timer">
        <p>@Hours.ToString("00"):@Minutes.ToString("00"):@Seconds.ToString("00")</p>
        <div class="timerBtn">
            <button class="start-btn" @onclick="StartTimer" disabled=@StartButtonIsDisabled>Start</button>
            <button class="stop-btn" @onclick="StopTimer" disabled=@StopButtonIsDisabled>Stop</button>
        </div>
    </div>

    <div class="setTimer">
        <h3>Set Timer</h3>
        <a href="">Add Timer +</a>
        <div class="setTimerBtn">
        @foreach (TimerStructure timer in timerCollections)
        {
            <button disabled=@SetTimerButtonIsDisabled @onclick="() => SetTimer(timer.Id)">
                @timer.Hours.ToString("00"):@timer.Minutes.ToString("00"):@timer.Seconds.ToString("00")
            </button>
        }
        </div>
    </div>
    <PopUpPage Title="Create Costum Timer"></PopUpPage>
</div>