.modal-page {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    box-shadow: 5px 10px;
}

p, input {
    text-align: center;
    font-size: 2em;
    font-weight: bold;
}

input, input:focus {
    width: 1.5em;
    border: none;
    background-color: transparent;
    outline: none;
    padding: 0px;
}

.modal-content {
    width: 450px;
    display: inline-block;
    background-color: white;
    align-self: center;
    text-align: center;
    border-radius: 10px;
    margin: auto;
}
.modal-content span {
    float: right;
    color: red;
    padding-right: 10px;
}
.modal-content button {
    margin-bottom: 1.67em;
}
.modal-content span:hover {
    cursor: pointer;
}

.show {
    display: flex;
    flex-direction: column;
    animation-name: show-modal;
    animation-duration: 1s ease-in-out;
}
.hide {
    display: none;
    animation-name: hide-modal;
}

@keyframes show-modal {
    from {opacity: 0}
    to {opacity: 1}
}
@keyframes hide-modal {
    from {opacity: 1}
    to {opacity: 0}
}