@inherits Components.Modal

<div class="modal-page @cssModal">
    <div class="modal-content">
        <h5>@Title <span @onclick="hideModal">X</span></h5>
        <p>00:00:00</p>
        <button>Add</button>
    </div>
</div>