@inherits Components.Modal

<div class="modal-page @cssModal">
    <div class="modal-content">
        <h5>@Title <span @onclick="@OnExit">X</span></h5>
        @Content
    </div>
</div>

@code {
    [Parameter]
    public int Hours { get; set; } = 0;
    [Parameter]
    public int Minutes { get; set; } = 0;
    [Parameter]
    public int Seconds { get; set; } = 0;
}