<div class="modal-page">
    <div class="modal-content">
        <h5>@Title <span>X</span></h5>
        <p>00:00:00</p>
        <button>Add</button>
    </div>
</div>

@code {
    [Parameter]
    public string Title { get; set; }
}