.toDoList {
    display: flex;
    flex-direction: row;
    text-align: justify;
    align-content: center;
    padding-right: 5px;
    justify-content: space-between;
}

.toDoList .todo {
    display: flex;
    flex-direction: row;
}

.toDoList label {
    word-break: break-word;
    margin-left: 5px;
    margin: 0px;
}


textarea, textarea:focus {
    resize: none;
    border: none;
    background-color: transparent;
    outline: none;
    text-align: justify;
    padding-top: 1em;
    font-size: 1em;
    overflow: hidden;
}

.toDoList input[type="checkbox"] {
    margin-left: 1em;
    align-self: center;
}
.toDoList span{
    text-align: center;
    color: gray;
    cursor: pointer;
    margin-left: 5px;
    margin-top: 0px;
    margin-bottom: 0px;
    align-self: center;
}

.todo-icons {
    display: flex;
    flex-direction: row;
}

.edit-icon {
    display: inline-block;
    transform: rotateZ(90deg);
}

input[type="text"], input[type="text"]:focus {
    outline: none;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: solid;
    border-width: 1px;
    background-color: transparent;
    width: calc(100% - 1em);
    padding: 5px 1em;
    font-size: 1em;
    align-self: center;
}

@media only screen and (max-width: 1000px) {
    .todo textarea, .todo textarea:focus {
        width: 95%;
    }
}

@media only screen and (max-width: 895px) {
    .todo textarea, .todo textarea:focus {
        width: 87vw;
    }
}
