.button {
    height: 30px;
    border-width: 0;
    background: white;
    color: rgb(238, 104, 104);
    border-radius: 5px;
    white-space: nowrap;
    box-shadow: 1px 1px 0px 1px rgba(0, 0, 0, 0.05);
    transition-property: background-color, box-shadow;
    transition-duration: 150ms;
    transition-timing-function: ease-in-out;
    align-self: center;
    padding: 0;
  }

  .button:focus, .button:hover {
    box-shadow: 1px 4px 5px 1px rgba(0, 0, 0, 0.1);
    cursor: pointer;
  }
  
  .button-text {
    display: inline-block;
    vertical-align: middle;
    padding: 0 24px;
    font-size: 14px;
    font-weight: bold;
    font-family: "Roboto", arial, sans-serif;
  }